<body>
        <!-- <div class="login">
            <div class="form-group">
                 <input type="text" class="login-input" ng-model="user.username" placeholder="username" >
                 <input type="text" class="login-input" ng-model="user.password" placeholder="password" >
                 <button class="btn" ng-click="Login"> Login </button>
                 <button class="btn" ng-click="CreateAccount"> Create New Account </button>
            </div> -->

        <div class="home-body">
            <div class="profile">
                    <div class="profile-div" ng-repeat="user in users">
                        <img class = "profile-pic" src="{{ user.image }}" alt="">
                    </div>
                    <div class="profile-div" ng-repeat="user in users">
                        <h1 class="name-age">{{ user.name}}  ({{ user.username }})  Age: {{ user.age }}</h1>
                        <h2 class="desc">{{ user.desc }}</h2>
                    </div>
                </div>
            </div>

    </div>
    <div class="log-run">

        <div class="stats-contain">
            <table>
                <tr class="" ng-repeat="stat in stats">
                    <td class="center"> {{stat.date}}</td>
                    <td class="center"> {{stat.code}}</td>
                    <td class="center"> {{stat.distance}}</td>
                    <td class="center"> {{stat.time}}</td>
                    <td class="center"> {{stat.desc}}</td>
                </tr>
            </table>
        </div>
    </div>


</body>
