<div class="log-run">
    <div class="form-group">
        <input type="text" class="login-sm" ng-model="workout.date" placeholder="date" >
        <input type="text" class="login-sm" ng-model="workout.distance" placeholder="distance (miles)" >
        <input type="text" class="login-sm" ng-model="workout.time" placeholder="time (minutes)" >
        <input type="text" class="login-input" ng-model="workout.desc" placeholder="how was your run?" >
        <button class="btn" ng-click="createWorkout(workout, 'run')"> Save Run </button>
        <div class="">
            <button class="btn" ng-click='getWorkouts'> Get Workouts  </button>


        </div>
    </div>
    <!-- <img src="../images/run.jpg" alt="Run Image"> -->
    <div class="stats-contain">
        <table>
            <tr class="" ng-repeat="stat in stats | filter: 'Run'">
                <td b class="center"> {{stat.date}}</td>
                <td class="center"> {{stat.code}}</td>
                <td class="center"> {{stat.distance}}</td>
                <td class="center"> {{stat.time}}</td>
                <td class="center"> {{stat.desc}}</td>
            </tr>
        </table>
    </div>
