<div class="log-bike">
    <div class="form-group">
         <input type="text" class="login-sm" ng-model="workout.date" placeholder="date" >
         <input type="text" class="login-sm" ng-model="workout.distance" placeholder="distance (miles)" >
         <input type="text" class="login-sm" ng-model="workout.time" placeholder="time (minutes)" >
         <input type="text" class="login-input" ng-model="workout.desc" placeholder="how was your ride?" >
         <button class="btn" ng-click="Login"> Save Ride </button>
         <!-- <button class="btn" ng-click="CreateAccount"> Create New Account </button> -->
    </div>
    <!-- <img src="../images/bike.jpg" alt="Bike Image"> -->
    <div class="stats-contain">
        <table>
            <tr class="" ng-repeat="stat in stats | filter: 'Bike'">
                <td b class="center"> {{stat.date}}</td>
                <td class="center"> {{stat.code}}</td>
                <td class="center"> {{stat.distance}}</td>
                <td class="center"> {{stat.time}}</td>
                <td class="center"> {{stat.desc}}</td>
            </tr>
        </table>
    </div>
