<div class="">
    <div class="form-group">
         <input type="text" class="login-input" ng-model="user.username" placeholder="username" >
         <input type="password" class="login-input" ng-model="user.password" placeholder="password" >
         <a class = "or"></a>
         <button class="btn" ng-click="currentUser(user); getWorkouts()" ui-sref="home"> Login </button>
         <a class = "or">  or  </a>
         <button class="btn" ui-sref="new-user"> Create New Account </button>
    </div>

</div>
<div class="bg-image-bike">
</div>
