<div class="login">
    <div class="form-group">
         <input type="text" class="login-input" ng-model="user.username" placeholder="username" >
         <input type="text" class="login-input" ng-model="user.password" placeholder="password" >
         <input type="text" class="login-sm" ng-model="user.age" placeholder="age" >
         <br>
         <input type="text" class="login-input" ng-model="user.name" placeholder="name" >
         <input type="text" class="login-input" ng-model="user.image" placeholder="image url" >
         <input type="text" class="login-sm" ng-model="user.email" placeholder="email" >

         <br>

         <br>
         <input type="text" class="login-lg" ng-model="user.desc" placeholder="say something about yourself" >
         <br>
         <button class="btn" ng-click="Login"> Login </button>
         <!-- <button class="btn" ng-click="CreateAccount"> Create New Account </button> -->
    </div>
<div class="bg-image-swim">
</div>
