<body>
        <!-- <div class="login">
            <div class="form-group">
                 <input type="text" class="login-input" ng-model="user.username" placeholder="username" >
                 <input type="text" class="login-input" ng-model="user.password" placeholder="password" >
                 <button class="btn" ng-click="Login"> Login </button>
                 <button class="btn" ng-click="CreateAccount"> Create New Account </button>
            </div> -->

        <div class="home-body">
            <div class="profile">
                    <div class="profile-div" ng-repeat="user in users">
                        <img class = "profile-pic" src="{{ user.image }}" alt="">
                            <div class="profile-text">
                            <h1 class="name-age">{{ user.name}}</h1>
                            <h1 class="name-age">({{ user.username }})</h1>
                            <h1 class="name-age">Age: {{ user.age }}</h1>
                            <h2 class="desc">{{ user.desc }}</h2>
                            </div>
                    </div>
            </div>


            <div class="stats" ng-repeat="stat in stats">
                <h3 class="center"> {{stat.date}}</h3>
                <h3 class="center"> {{stat.code}}</h3>
                <h3 class="center"> {{stat.distance}}</h3>
                <h3 class="center"> {{stat.time}}</h3>
                <h3 class="center"> {{stat.desc}}</h3>
            </div>
    </div>


</body>
