<body>
        <div class="login">
            <div class="form-group">
                 <input type="text" class="login-input" ng-model="loginuser" placeholder="username" >
                 <input type="text" class="login-input" ng-model="password" placeholder="password" >
                 <button class="btn" ng-click="Login"> Login </button>
                 <button class="btn" ng-click="Create Account"> Create Account </button>
            </div>

        </div>
        <div class="home-body">
            <div class="profile">
                    <div class="profile-div" ng-repeat="user in users | filter:loginuser">
                        <img class = "profile-pic" src="{{ user.image }}" alt="">
                        <div class="profile-text">
                            <h1 class="name-age">{{ user.name}}</h1>
                            <h1 class="name-age">({{ user.username }})</h1>
                            <h1 class="name-age">Age: {{ user.age }}</h1>
                            <h2 class="desc">{{ user.desc }}</h2>
                        </div>

                    </div>
            </div>

            <div class="stats" ng-repeat="stat in stats">
                <h2> Date : {{stat.date}}</h2>
                <h2> {{stat.code}}</h2>
                <h2> Distance: {{stat.distance}}</h2>
                <h2> Time : {{stat.time}}</h2>
            </div>

        </div>

</body>
