<div class="login">
    <div class="form-group">
         <input type="text" class="login-sm" ng-model="user.username" placeholder="date" >
         <input type="text" class="login-sm" ng-model="user.password" placeholder="distance" >
         <input type="text" class="login-sm" ng-model="user.password" placeholder="time" >
         <input type="text" class="login-input" ng-model="user.password" placeholder="how was your run?" >
         <button class="btn" ng-click="Login"> Save Ride </button>
    </div>
    <img src="../images/run.jpg" alt="Run Image">
