<div class="login">
    <div class="form-group">
         <input type="text" class="login-sm" ng-model="user.username" placeholder="date" >
         <input type="text" class="login-sm" ng-model="user.password" placeholder="distance" >
         <input type="text" class="login-sm" ng-model="user.password" placeholder="time" >
         <input type="text" class="login-input" ng-model="user.password" placeholder="how was your ride?" >
         <button class="btn" ng-click="Login"> Save Ride </button>
         <!-- <button class="btn" ng-click="CreateAccount"> Create New Account </button> -->
    </div>
    <img src="../images/bike.jpg" alt="Bike Image">
