
.profile {
    flex-direction: row;
    padding: 50px 30px 50px 75px;
    display: flex;
    justify-content: center;
}
.profile-div {
    padding: 0px 30px;
}
.profile-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.profile-pic {
    padding: 50 30 30 50;
    max-width: 500px;
    height: 200px;
    background-color: powderblue;
    border: 6px solid #05B0FA;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
}

.name-age {
    font-size: 40px;
}
.desc {
    font-size: 35px;
}

.stats {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.home-body {
    background-color: #FAC905;
}
