var yelo = "#FAC905"

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

a {
    text-decoration: none;
    color: #FAC905;
}

b {
    text-decoration: none;
    color: #fff;
    font-family: 'Arimo', sans-serif;
    font-weight: 600;
}
.home-page-top-container {
    width: 100%;
    height: 30vh;
    min-height: 300px;
    position: relative;
    background: url('../../images/tri.jpg') center no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.home-page-top-container header {
    padding-top: 10px;
    margin-bottom: 0px;
}

.home-page-top-container nav ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 100;
    color: white;
}

.home-page-top-container nav ul img {
    width: 300px;
}

.icon {
    width: 45%;
    padding-top: 5px;
}
.intro-text {
    font-size: 10rem;
    color: #FFF;
    font-weight: 300;
}
.itri {
    font-size: 10rem:
    color: #FFF;
    font-weight: 1000;
}

.menu {
    width: 36px;
    position: absolute;
    left: 30px;
    top: 10px;

}

.menu img {
    width: 100%;
}

.home-page-content-top {
    text-align: left;
    font-family: 'Lato', sans-serif;
    font-size: 75px;
    position: absolute;
    top: 60px;
    left: 30px;
}



.home-top-button {
    width: 125px;
    padding: 10px 0 10px 0 ;
    position: absolute;
    bottom: 10px;
    left: 30px;
    background: #000;
    border-radius: 20px;
    text-align: center;
}


.home-top-button a {
    color: white;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    cursor: pointer;

}



.no-display {
    display: none;
}
